20190729_111526_SV1-04_50cm_RD_11bit_RGBI_Lisse_waterleidingduin_aaneensluitende_polygon_cropped_rgbi_ndvi_ahn.tif_coordinates_rd_awd.csv
coordinates_rd_awd.csv
./annotations/*
./scalers/*
scalers/*
saved_models/*
./saved_models/*
./models/*
bfg-1.14.0.jar
score_model/annotations/*
annotaties_coepelduynen_to_pixel.csv
annotaties_coepelduynen_to_pixel_scaled.csv
score_model/annotations/*
/data/annotations/annotations_pixel_dataframes/VoornesDuin_polyg2pixel_scaled_balanced_sample.pkl
VoornesDuin_polyg2pixel_scaled_balanced_sample.pkl
scalers/*
*__pycache__*
*.ipynb_checkpoints*
*.idea*
*.egg-info/
build/*
cloud_recognition/cache/